.value{
    text-align: center;
    padding: 10% 0 0 0;
   }
   .para{
     text-shadow: 2px 5px 5px #2f3542; word-spacing: 10px;
     margin: 20px 20px 20px 20px;
     text-justify: center;
     font-size: 26pt;
     font-style: bold;
     text-align: center;
     color: whitesmoke;
     background-color:brown;
   }
   .input{
    
   }
   .scorecard{
    background-color: burlywood;
    width: 500px;
  border: 10px solid rgb(92, 99, 237);
  padding: 90px;
  margin-left: 26%;
  margin-top: 1%;
   }
   body{
    background-image: url("https://images4.alphacoders.com/888/8.jpg");
    background-size: cover;
   }
   .b1{
    background-color:darkgrey;
    background-size: cover;
   }
  