.value{
    text-align: center;
    padding: 10% 0 0 0;
   }
   .para{
     text-shadow: 2px 5px 5px #2f3542; word-spacing: 10px;
     margin: 20px 20px 20px 20px;
     text-justify: center;
     font-size: 26pt;
     font-style: bold;
     text-align: center;
     color: whitesmoke;
     background-color:brown;
   }
   .input{
    
   }
   .scorecard{
    background-color: burlywood;
    
    border: 10px solid rgb(92, 99, 237);
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;

    margin-top: 10px;
   }
   #show{
    background-color:chartreuse;
    padding: 10px;
   margin-left: 20%;
   margin-right: 20%;
   font-size: larger;
   font-family:'Times New Roman', Times, serif;
   }
   body{
    background-image: url("https://images4.alphacoders.com/888/8.jpg");
    background-size: auto;
    background-repeat: no-repeat;
   }
   .b1{
    background-color:darkgrey;
    background-size: cover;
   }
  
